<div id="starches" class="three-column">
  <%= image_tag('squash.jpg') %>
  <span class="overlay">
    The
  </span>
</div>

<div id="vegetables" class="three-column">
  <%= image_tag('radish.jpg') %>
  <span class="overlay">
    Exquisite
  </span>
</div>

<div id="flair" class="three-column">
  <%= image_tag('pear.jpg') %>
  <span class="overlay">
    Course
  </span>
</div>

<div class="clear"></div>

<%= link_to 'New meal', new_combination_path %>