.row
  .one-third.column.home
    .ingredient
      = image_tag('squash.jpg')
      .overlay
        .name
          #starch The

  .one-third.column.home
    .ingredient
      = image_tag('radish.jpg')
      .overlay
        .name
          #vegetable Exquisite

  .one-third.column.home
    .ingredient
      = image_tag('pear.jpg')
      .overlay
        .name
          #flair Course

.row
  .controls
    %span#tagline Inspiration for your next meal.
    %a#go{:href => "/combinations/new"}Go