.three-column
  = image_tag('squash.jpg')
  .overlay
    .name
      #starch The

.three-column
  = image_tag('radish.jpg')
  .overlay
    .name
      #vegetable Exquisite

.three-column
  = image_tag('pear.jpg')
  .overlay
    .name
      #flair Course

.clear

.controls
  %span#tagline Inspiration for your next meal.
  %a#go{:href => "/combinations/new"}Go