.row
  .sixteen.columns
    %header.clearfix
      %h1
        %a{:href => root_path}
          %span.archive The 
          %span.commercial Exquisite 
          %span.deming Course
      %nav
        %ul.archive
          %li= link_to 'Join', '#'
          %li= link_to 'Login', '#'
          %li= link_to 'About', '#'
