.row
  .sixteen.columns
    %header.clearfix
      %h1
        %a{:href => root_path}
          %span.archive The 
          %span.commercial Exquisite 
          %span.deming Course
      %nav
        %ul.archive
          %li= link_to 'About', about_path
          %li= link_to 'Sign Up', about_path(anchor: 'coming-soon')
